* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.button {
  background: #1c88bf;
  color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  margin: 1.2rem; }

.button--link {
  background: none; }

.button--secondary {
  background: #ee0606; }

.header {
  background: #364051; }

.header__title {
  color: white;
  margin: 0 1.2rem;
  text-decoration: none; }
  
.header__title h1 {
    margin: 0; }

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0; }

.content-container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 1.6rem; }

.page-header {
  background: #f7f7f7;
  margin-top: 0;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0; }

.page-header__title {
  font-weight: 300;
  margin: 0 0 1.6rem 1.2rem;
  padding-top: 2.4rem; }

.page-header__title span {
  font-weight: 700; }

.page-header__actions {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .input-group {
      flex-direction: row;
      margin-bottom: 3.2rem; } }

.input-group__item {
  margin-bottom: 1.2rem;
  display: inline-block; }
  @media (min-width: 45rem) {
    .input-group__item {
      margin: 0 1.2rem 0 1.2rem; } }

.input-group__item__id {
  width: 10rem;
}

.text-input, .select {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1.6rem; }

.form__error {
  margin: 0 0 1.6rem 0;
  font-style: italic; }

.list-header {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem; }

.list-body {
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .list-body {
      margin-bottom: 3.2rem; } }

.list-item {
  border: 1px solid #e5e5e5;
  border-top: none;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  text-decoration: none;
  transition: background .3s ease; }
.list-item:hover {
    background: #f7f7f7; }

@media (min-width: 45rem) {
  .list-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem; } }

.list-item--message {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem; }
  .list-item--message:hover {
    background: none; }

.list-item__title {
  margin: 0;
  word-break: break-all; }

.list-item__sub-title {
  color: #666;
  font-size: 1.4rem; }

.list-item__data {
  margin: 1.2rem 0 0 0; }
  @media (min-width: 45rem) {
    .list-item__data {
      margin: 0;
      padding-left: 1.2rem; } }

.footer {
  background: #364051;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1.6rem; }

.footer__title {
  color: white;
  text-decoration: none; }

.footer__title h1 {
    margin: 0; }

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0; }

.show-for-desktop {
  font-weight: 700; }
  @media (max-width: 44.99rem) {
    .show-for-desktop {
      display: none; } 
}





